@tailwind base;
@tailwind components;
@tailwind utilities;

.under-yellow {
  position: relative;
  font-size: 18px;
}

.under-yellow:before {
  content: "";
  position: absolute;
  bottom: -1px;
  left: -5px;
  width: 0px;
  transition: all 0.5s;
  height: 6px;
  background-color: hsl(51, 100%, 49%);
  border-radius: 5px;
}
.under-yellow:hover::before {
  width: 150px;
}
.under-red {
  position: relative;
  font-size: 18px;
}
.under-red:hover {
  color: black;
}
.under-red:before {
  content: "";
  position: absolute;
  bottom: -1px;
  left: -5px;
  width: 0px;
  transition: all 0.5s;
  height: 6px;
  background-color: hsl(7, 99%, 70%);
  border-radius: 5px;
}
.under-red:hover::before {
  width: 150px;
}
